.process-container{
  border-radius: 10px;
  margin: 0 1.25rem;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: white;
}
.process{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 50%;
}
.amasador{
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8FC1D4;
  color: black;
  font-weight: bold;
  width: 30%;
  height: 90%;
}
.column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 20%;

  .balanza, .deposito {
    width: 100%;
    height: 40%;
    background-color: #865439;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}
.molde{
  width: 25%;
  height: 40%;
  background-color: #865439;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.horno{
  background-color: #8FC1D4;
  color: black;
  font-weight: bold;
  width: 45%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ingredientes-span{
    font-weight: 800 !important;
    font-style: normal;
    font-size: 0.8rem;
    color: black;
}

.ingredientes-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 10rem;
    margin-bottom: 1.25rem;
}
.formulario-receta{
    margin-bottom: 1.25rem;
    display: flex;
    gap: 1rem;
    font-size: .8rem;
    
}
.formulario-receta-contenedor{
    display: flex;
    gap: 1rem;
    width: 60%;
    select{
        width: 30%;
        border: none;
        background-color: rgba(128, 128, 128, 0.143);
        padding: 2px 2px;
        border-radius: 0.2rem;
        margin-right: 1rem;
    }
}

.formulario-receta-cantidad{
    display: flex;
    gap: 1.25rem;
    input{
        width: 20%;
        border: none;
        background-color: rgba(128, 128, 128, 0.143);
        padding: 0rem 0.5rem;
        border-radius: .2rem;
    }
}

.message{
    font-weight: bold;
}

.recetas{
    margin-left: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.178);
    padding: 1rem;
    border-radius: 1rem;
    width: 50%;
    
}
.ingrediente{
    background-color: rgba(128, 128, 128, 0.143);
    width: 80%;
    padding: 0.2rem 1rem;
    margin: 0.5rem 0;
    box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.147);
    border-radius: 0.2rem;
}